 # Table of Contents
<div class="toc" style="margin-top: 1em;"><ul class="toc-item" id="toc-level0"></ul></div>

In [19]:
# Load in our libraries
import pandas as pd
import numpy as np
import re
import sklearn
import xgboost as xgb
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls

import warnings
warnings.filterwarnings('ignore')

# Going to use these 5 base models for the stacking
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier
from sklearn.svm import SVC
from sklearn.cross_validation import KFold;

C:\ProgramData\Anaconda3\lib\site-packages\nose\config.py:178: DeprecationWarning: invalid escape sequence \.
  """

In [17]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [20]:
full_data = [train, test]

# Some features of my own that I have added in
# Gives the length of the name
train['Name_length'] = train['Name'].apply(len)
test['Name_length'] = test['Name'].apply(len)
# Feature that tells whether a passenger had a cabin on the Titanic
train['Has_Cabin'] = train["Cabin"].apply(lambda x: 0 if type(x) == float else 1)
test['Has_Cabin'] = test["Cabin"].apply(lambda x: 0 if type(x) == float else 1)

# Feature engineering steps taken from Sina
# Create new feature FamilySize as a combination of SibSp and Parch
for dataset in full_data:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1
# Create new feature IsAlone from FamilySize
for dataset in full_data:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1
# Remove all NULLS in the Embarked column
for dataset in full_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')
# Remove all NULLS in the Fare column and create a new feature CategoricalFare
for dataset in full_data:
    dataset['Fare'] = dataset['Fare'].fillna(train['Fare'].median())
train['CategoricalFare'] = pd.qcut(train['Fare'], 4)
# Create a New feature CategoricalAge
for dataset in full_data:
    age_avg = dataset['Age'].mean()
    age_std = dataset['Age'].std()
    age_null_count = dataset['Age'].isnull().sum()
    age_null_random_list = np.random.randint(age_avg - age_std, age_avg + age_std, size=age_null_count)
    dataset['Age'][np.isnan(dataset['Age'])] = age_null_random_list
    dataset['Age'] = dataset['Age'].astype(int)
train['CategoricalAge'] = pd.cut(train['Age'], 5)
# Define function to extract titles from passenger names
def get_title(name):
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it.
    if title_search:
        return title_search.group(1)
    return ""
# Create a new feature Title, containing the titles of passenger names
for dataset in full_data:
    dataset['Title'] = dataset['Name'].apply(get_title)
# Group all non-common titles into one single grouping "Rare"
for dataset in full_data:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

for dataset in full_data:
    # Mapping Sex
    dataset['Sex'] = dataset['Sex'].map( {'female': 0, 'male': 1} ).astype(int)
    
    # Mapping titles
    title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)
    
    # Mapping Embarked
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)
    
    # Mapping Fare
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] 					            = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare'] 							        = 3
    dataset['Fare'] = dataset['Fare'].astype(int)
    
    # Mapping Age
    dataset.loc[ dataset['Age'] <= 16, 'Age'] 					       = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 64, 'Age'] = 4 ;

In [22]:
# Feature selection
drop_elements = ['PassengerId', 'Name', 'Ticket', 'Cabin', 'SibSp']
train = train.drop(drop_elements, axis = 1)
train = train.drop(['CategoricalAge', 'CategoricalFare'], axis = 1)
test  = test.drop(drop_elements, axis = 1)

In [23]:
train

,Survived,Pclass,Sex,Age,Parch,Fare,Embarked,Name_length,Has_Cabin,FamilySize,IsAlone,Title
0,0,3,1,1,0,0,0,23,0,2,0,1
1,1,1,0,2,0,3,1,51,1,2,0,3
2,1,3,0,1,0,1,0,22,0,1,1,2
3,1,1,0,2,0,3,0,44,1,2,0,3
4,0,3,1,2,0,1,0,24,0,1,1,1
5,0,3,1,0,0,1,2,16,0,1,1,1
6,0,1,1,3,0,3,0,23,1,1,1,1
7,0,3,1,0,1,2,0,30,0,5,0,4
8,1,3,0,1,2,1,0,49,0,3,0,3
9,1,2,0,0,0,2,1,35,0,2,0,3
10,1,3,0,0,1,2,0,31,1,3,0,2
11,1,1,0,3,0,2,0,24,1,1,1,2
12,0,3,1,1,0,1,0,30,0,1,1,1
13,0,3,1,2,5,3,0,27,0,7,0,1
14,0,3,0,0,0,0,0,36,0,1,1,2
15,1,2,0,3,0,2,0,32,0,1,1,3
16,0,3,1,0,1,2,2,20,0,6,0,4
17,1,2,1,0,0,1,0,28,0,1,1,1
18,0,3,0,1,0,2,0,55,0,2,0,3
19,1,3,0,1,0,0,1,23,0,1,1,3
20,0,2,1,2,0,2,0,20,0,1,1,1
21,1,2,1,2,0,1,0,21,1,1,1,1
22,1,3,0,0,0,1,2,27,0,1,1,2
23,1,1,1,1,0,3,0,28,1,1,1,1
24,0,3,0,0,1,2,0,29,0,5,0,2
25,1,3,0,2,5,3,0,57,0,7,0,3
26,0,3,1,1,0,0,1,23,0,1,1,1
27,0,1,1,1,2,3,0,30,1,6,0,1
28,1,3,0,2,0,0,2,29,0,1,1,2
29,0,3,1,2,0,0,0,19,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
861,0,2,1,1,0,1,0,27,0,2,0,1
862,1,1,0,2,0,2,0,51,1,1,1,3
863,0,3,0,1,2,3,0,33,0,11,0,2
864,0,2,1,1,0,1,0,22,0,1,1,1
865,1,2,0,2,0,1,0,24,0,1,1,3
866,1,2,0,1,0,1,1,28,0,2,0,2
867,0,1,1,1,0,3,0,36,1,1,1,1
868,0,3,1,2,0,1,0,27,0,1,1,1
869,1,3,1,0,1,1,0,31,0,3,0,4
870,0,3,1,1,0,0,0,17,0,1,1,1
871,1,1,0,2,1,3,0,48,1,3,0,3
872,0,1,1,2,0,0,0,24,1,1,1,1
873,0,3,1,2,0,1,0,27,0,1,1,1
874,1,2,0,1,0,2,1,37,0,2,0,3
875,1,3,0,0,0,0,1,32,0,1,1,2
876,0,3,1,1,0,1,0,29,0,1,1,1
877,0,3,1,1,0,0,0,20,0,1,1,1
878,0,3,1,1,0,0,0,18,0,1,1,1
879,1,1,0,3,1,3,1,45,1,2,0,3
880,1,2,0,1,1,2,0,44,0,2,0,3
881,0,3,1,2,0,0,0,18,0,1,1,1
882,0,3,0,1,0,1,0,28,0,1,1,2
883,0,2,1,1,0,1,0,29,0,1,1,1
884,0,3,1,1,0,0,0,22,0,1,1,1
885,0,3,0,2,5,2,2,36,0,6,0,3
886,0,2,1,1,0,1,0,21,0,1,1,5
887,1,1,0,1,0,2,0,28,1,1,1,2
888,0,3,0,1,2,2,0,40,0,4,0,2
889,1,1,1,1,0,2,1,21,1,1,1,1
890,0,3,1,1,0,0,2,19,0,1,1,1

In [33]:
y_train=train['Survived'].values
x_train=train.copy()
x_train.pop('Survived')
x_train=x_train.values

In [37]:
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.base import TransformerMixin

In [68]:
class t1(TransformerMixin):
    def __init__(self,c=3):
        self.c=c
    
    def transform(self,X,**transform_params):
        s=np.ones(X.shape)*self.c
        return s
    
    def fit(self, *args, **kwargs):
        return self
    
    
class t2(TransformerMixin):
    def __init__(self,c=3):
        self.c=c
    
    def transform(self,X,**transform_params):
        s=X*self.c
        return s
    
    def fit(self, *args, **kwargs):
        return self

In [69]:
pp=Pipeline([
    ('times3',t1()),
    ('times2',t2(c=2)),
    ('chongfu',FeatureUnion([
        ('times5',Pipeline([
            ('times10',t2()),
            ('times20',t2())
        ])),
        ('times4',t2())
    ])),
])

In [64]:
x_train.shape

(891, 11)

In [72]:
m=pp.transform(x_train)
m.shape

(891, 22)

In [73]:

import talib

In [79]:
close = np.random.random(100)
output = talib.SMA(close)
help(talib.SMA)

Help on built-in function SMA in module talib.func:

SMA(...)
    SMA(real[, timeperiod=?])

    Simple Moving Average (Overlap Studies)

    Inputs:
        real: (any ndarray)
    Parameters:
        timeperiod: 30
    Outputs:
        real